$color-bg-slider: #475569 !default;
$color-bg-slider-checked: #cb1ec7 !default;
$color-bg-thumb: #E2E8F0 !default;

.switch {
  display: block;
  width: 60px;
  height: 34px;
  position: relative;

  &__checkbox {
    appearance: none;
  }

  &__checkbox:checked + &__slider {
      &::before {
        transform: translateX(26px);
      }
      background-color: $color-bg-slider-checked;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-bg-slider;
    border-radius: 40px;
    cursor: pointer;

    &::before {
      content: "";
      height: 26px;
      width: 26px;
      position: absolute;
      left: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color: $color-bg-thumb;
      transition: .4s all ease;
    }
  }
}