@use 'variables' as vrs;
@use '~@/components/InputsSequenceComponent/InputsSequenceComponent.scss' with (
  $font-size: vrs.$font-size-medium,
  $font-size-min: 26px,
  $font-size-max: 80px,
  $color-mode-add-border: vrs.$color-olive-green,
  $color-mode-add-focus-border: vrs.$color-olive-yellow,
  $color-mode-delete-border: vrs.$color-olive-pink,
  $color-add-input-button-text: vrs.$color-olive-white,
);

@use 'src/components/ToggleSwitchComponent/ToggleSwitchComponent' with (
$color-bg-slider: vrs.$color-olive-yellow,
$color-bg-slider-checked: vrs.$color-olive-pink,
$color-bg-thumb: vrs.$color-olive-white,
);

@import '~normalize.css';

html {
  //font-size: 4vmax;
  font-size: clamp(42px, 4vmax, 100px);


}

* {
  box-sizing: border-box;
}

body {
  background-color: vrs.$color-olive-white;

}


.container {
  color: vrs.$color-olive-green;
  //font-size: 20px;
  margin: 1rem auto;
  max-width: 80vw;
}

.container {

}

.switch {
  margin-top: 0.5em;
}


.heading {
  font-size: vrs.$font-size-heading;
}

.large {
  font-size: vrs.$font-size-large;
}

.medium {
  font-size: vrs.$font-size-medium;
}

.small {
  font-size: vrs.$font-size-small;
}
