@use 'variables' as vrs;
@use '@/components/InputsSequence/InputsSequence.scss' with (
  $font-size: vrs.$font-size-medium,
  $font-size-min: 26px,
  $font-size-max: 80px,
  $color-mode-add-border: vrs.$color-olive-green,
  $color-mode-add-focus-border: vrs.$color-olive-yellow,
  $color-mode-delete-border: vrs.$color-olive-pink,
  $color-add-input-button-text: vrs.$color-olive-white,
);

@use '@/components/ToggleSwitch/ToggleSwitch' with (
$color-bg-slider: vrs.$color-olive-yellow,
$color-bg-slider-checked: vrs.$color-olive-pink,
$color-bg-thumb: vrs.$color-olive-white,
);

@use '@/components/FileInput/FileInput' with (
  $color-bg: vrs.$color-olive-yellow,
  $color-text: vrs.$color-olive-white,
);

@import '~normalize.css';



html {
  //font-size: 4vmax;
  font-size: clamp(28px, 3vmax, 100px);


}

* {
  box-sizing: border-box;
}

body {
  background-color: vrs.$color-olive-white;
  color: vrs.$color-olive-green;
  font-size: vrs.$font-size-medium;

}


.container {
  //font-size: 20px;
  margin: 0 auto;
  max-width: 80vw;
}

.container {

}

.switch {
  margin-top: 0.5em;
}


.heading {
  margin-top: 1.5em;
  font-size: vrs.$font-size-heading;
}

.large {
  font-size: vrs.$font-size-large;
}

.medium {
  font-size: vrs.$font-size-medium;
}

.small {
  font-size: vrs.$font-size-small;
}

.heading {
  font-size: vrs.$font-size-large;
}


.header, .footer {
  font-size: vrs.$font-size-heading;
  padding: 0.3em;
  background-color: vrs.$color-olive-yellow;
  color: vrs.$color-olive-white;
  text-align: center;
}

.footer {
  margin-top: 3em;
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(vrs.$color-olive-yellow, 0.75), rgba(vrs.$color-olive-yellow, 0.45), rgba(vrs.$color-olive-yellow, 0));

  &--main {
    height: 2px;
    margin-top: 2em;
    background-image: linear-gradient(to right, rgba(vrs.$color-olive-green, 0.75), rgba(vrs.$color-olive-green, 0.45), rgba(vrs.$color-olive-green, 0));

  }
}

.chart-container {
  display: inline-block;
  margin: 0 auto;
  height: 13rem;
  width: 13rem;
}

.button {

  margin-top: 0.5em;

    display: inline-block;
    border: 0.05em solid vrs.$color-olive-yellow;
    background-color: vrs.$color-olive-yellow;
    color: vrs.$color-olive-white;
    padding: 0.3em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: .6s;

    &:hover {
      color: vrs.$color-olive-yellow;
      background-color: vrs.$color-olive-white;
      transition: .6s;

    }
  }

.button-submit {
  margin-bottom: 1.5em;
  margin-top: 2.5em;
}