$color-olive-green: #34421E;
$color-olive-white: #F1F1EF;
$color-olive-yellow: #C19434;
$color-olive-pink: #c1348e;

$input-max-length: 8;

// 46px;
$font-size-heading: 1rem;
$font-size-large: 0.74rem;
$font-size-medium: 0.48rem;
$font-size-small: 0.36rem;
$font-size-tiny: 0.28rem;